@font-face {
  font-family: 'Lato';
  font-weight: 400;
  font-style: normal;
  src: url('/src/assets/fonts/Lato-Regular.ttf') format('truetype'),
      url('/src/assets/fonts/Lato-Regular.eot') format('embedded-opentype') url('/src/assets/fonts/Lato-Regular.woff') format('woff') url('/src/assets/fonts/Lato-Regular.woff2') format('woff2')
}

@font-face {
  font-family: 'Lato';
  font-weight: 500;
  font-style: normal;
  src: url('/src/assets/fonts/Lato-Medium.ttf') format('truetype'),
      url('/src/assets/fonts/Lato-Medium.eot') format('embedded-opentype') url('/src/assets/fonts/Lato-Medium.woff') format('woff') url('/src/assets/fonts/Lato-Medium.woff2') format('woff2')
}


@font-face {
  font-family: 'Lato';
  font-weight: 600;
  font-style: normal;
  src: url('/src/assets/fonts/Lato-Semibold.ttf') format('truetype'),
      url('/src/assets/fonts/Lato-Semibold.eot') format('embedded-opentype') url('/src/assets/fonts/Lato-Semibold.woff') format('woff') url('/src/assets/fonts/Lato-Semibold.woff2') format('woff2')
}

@font-face {
  font-family: 'Lato';
  font-weight: 700;
  font-style: normal;
  src: url('/src/assets/fonts/Lato-Bold.ttf') format('truetype'),
      url('/src/assets/fonts/Lato-Bold.eot') format('embedded-opentype') url('/src/assets/fonts/Lato-Bold.woff') format('woff') url('/src/assets/fonts/Lato-Bold.woff2') format('woff2')
}

@font-face {
  font-family: 'Lato';
  font-weight: 400;
  font-style: italic;
  src: url('/src/assets/fonts/Lato-Italic.ttf') format('truetype'),
      url('/src/assets/fonts/Lato-Italic.eot') format('embedded-opentype') url('/src/assets/fonts/Lato-Italic.woff') format('woff') url('/src/assets/fonts/Lato-Italic.woff2') format('woff2')
}

@font-face {
  font-family: 'Lato';
  font-weight: 500;
  font-style: italic;
  src: url('/src/assets/fonts/Lato-MediumItalic.ttf') format('truetype'),
      url('/src/assets/fonts/Lato-MediumItalic.eot') format('embedded-opentype') url('/src/assets/fonts/Lato-MediumItalic.woff') format('woff') url('/src/assets/fonts/Lato-MediumItalic.woff2') format('woff2')
}

@font-face {
  font-family: 'Lato';
  font-weight: 700;
  font-style: italic;
  src: url('/src/assets/fonts/Lato-BoldItalic.ttf') format('truetype'),
      url('/src/assets/fonts/Lato-BoldItalic.eot') format('embedded-opentype') url('/src/assets/fonts/Lato-BoldItalic.woff') format('woff') url('/src/assets/fonts/Lato-BoldItalic.woff2') format('woff2')
}

@font-face {
  font-family: 'Lato';
  font-weight: 600;
  font-style: italic;
  src: url('/src/assets/fonts/Lato-SemiboldItalic.ttf') format('truetype'),
      url('/src/assets/fonts/Lato-SemiboldItalic.eot') format('embedded-opentype') url('/src/assets/fonts/Lato-SemiboldItalic.woff') format('woff') url('/src/assets/fonts/Lato-SemiboldItalic.woff2') format('woff2')
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  font-family: Lato, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}